.blogsPage {
  display: flex;
  height: 100%;
  background-color: white;
  width: 100vw;
  padding: 1rem 2rem;
}
.leftSide {
  flex: 5;
  overflow-x: hidden;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex: 1;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .blogsPage{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .rightSide{
    display: none;
  }
}
